<footer class="footer">
    <div class="container">
        <div class="row g-5">
            <div class="col-md-4">
                <h4>Contacto</h4>
                <ul class="list-unstyled">
                    <li><i class="fas fa-phone me-2"></i>+1 800 555 1234</li>
                    <li><i class="fas fa-envelope me-2"></i>info@paradiseexperience.com</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Síguenos</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook social-icon"></i></a>
                    <a href="#"><i class="fab fa-instagram social-icon"></i></a>
                    <a href="#"><i class="fab fa-twitter social-icon"></i></a>
                </div>
            </div>
            <div class="col-md-4">
                <h4>Legal</h4>
                <ul class="list-unstyled">
                    <li><a href="Footer/terminos.html">Términos y condiciones</a></li>
                    <li><a href="Footer/politica.html">Política de privacidad</a></li>
                </ul>
            </div>
        </div>
        <hr class="mt-5">
        <p class="text-center mb-0">&copy; 2025 Paradise Experience. Todos los derechos reservados.</p>
    </div>
</footer>